.content-right {
	float: right;
}

.content-left {
	float: left;
}

.main-container {
	width: 100%;
	/*background: blue;*/
}

.header-container-top {
	background:#7dd9e8;
	padding: 1.25em 0em 1em 0em;
}

.content {
	width: 58.625em;
	margin: auto;
	/*background: red;*/
}

.form-header {
	padding: 1.25em 1.5em .5625em 1.5em;
}

.search-box {
	width: 17.0625em;
	height: 1.375em;
	padding-left: .25em;
	background-repeat: no-repeat;
	background-image: url(../images/Search.png);
	border: none;
	font-size: 8pt;
}

.submit {
	width: 3.375em;
	height: 1.375em;
	background-image: url(../images/Submit.png);
	border: none;
	color: white;
	font-size: 7pt;
}

.header-content-right {
	width: 12.5em;
	/*background-color: red*/;	
	float: right;
	padding: 0.4375em 0em;
}

.head-top-menu {
	width: 8.3125em;
	/*background-color: black;*/
	float: right;
}

.menu-head-top li {
	list-style: none;
	padding-left: 0.3125em;
	/*margin: 0em;*/
	float: left;
	font-size: 8pt;
}

.head-menu {
	padding-left: 0.375em;
}

a {
	color: black;
	text-decoration: none;
}

.header-container-bottom {
	background-color: #F5F5F5;
	padding: 0.9375em 0em 0.75em 0em;
	font-size: 9pt; 
}

.head-bottom-menu li {
	list-style: none;
	padding-left: 0.5em;
	margin-right: 1.4375em;
	float: left;
}

.image-header-right {
	padding: 0em 0.3125em;
}

.body-container {
	padding: 1.3125em 0em;
}

.body-content{
	width: 58.625em;
	margin: auto;
	background-image: url(../images/background.png);
	background-repeat: repeat;
}

.body-content-left {
	width: 12.125em;
	float: left;
	font-size: 10pt;
}

.body-menu  li{
	list-style: none;
	padding: 0.875em 0.75em;
	background-color: #F5F5F5;
	font-size: 8pt;
}

.body-menu li:hover{
	background-color: #FFFFFF;
}

.block-title {
	background-color: #2FC1DA;
	color: white;
	padding: 0.8125em;
	font-size: 12pt;	
}

.body-content-right {
	width: 44.875em;
	float: right;
}

.body-inner-left {
	width: 32.375em;
	float: left;
}

.title {
	font-weight: normal;
	margin-top: -0.4375em;
}

.inner-left-top {
	width: 32.5em;
	background-image: url(../images/box.png);
	background-repeat: no-repeat;
	font-size: 11pt;
	border-bottom: thick solid #2FC1DA;
	margin-bottom: 1em;
}

.tab {
	width: 16.125em;
}

.sub-titles {
	padding: 0.75em 5.625em;
	font-size: 9pt;
}

.single-tab {
	width: 7em;
}

.tab-designs {
	background-image: url(../images/tabs.png);
	background-repeat: no-repeat;
	/*background-size: contain;*/
	/*background-blend-mode: exclusion;*/
	padding: 0.3125em 0.1825em;
	margin: 0em 0.3125em;
	text-align: center;
	font-size: 9pt;
	list-style: none;
	float: left;
}

.tab-designs :hover {
	background-image: url(../images/tab-active.png);
	background-repeat: no-repeat;
	/*background-size: contain;*/
}

.inner-left-bottom{
	margin-top: 1em;
}

.mid-section {
	border-bottom: thin solid #D8D8D8;
	padding: 0.9375em 0em;
}

.image-prop {
	width: 4.375em;
}

.description {
	width: 27.375em;
	font-size: 9pt;
}

.description li {
	list-style: none;
	float: left;
	padding: 0em 0.1875em;
}

.description h3 {
	font-weight: normal;
}

.body-inner-right {
	width: 11em;
	float: right;
	background-color: #F5F5F5;
	font-size: 10pt;
}

.footer-container {
	background-color: #727272;
}

.footer-main{
	padding: 1.1875em 0em;
}

.footer-left li {
	list-style: none;
	padding-right: 0.4375em;
	float: left;
	color: white;
	font-size: 8pt;
}

.footer-menu {
	padding-left: 0.4375em;
}

.footer-right {
	/*float: right;*/
	color: white;
	width: 6.25em;
	font-size: 8pt;
}

.copyright {
	padding: 0em 0.1875em;
}

.blue {
	color: #6FBECF;
	font-weight: bold;
}

.red {
	color: #D64A29;
	font-weight: bold;
}

.green {
	color: #80A33B;
	font-weight: bold;
}

@media screen and ma


